@import 'tailwindcss';
@import './theme-simplified.css';
@import './eagle-theme.css';
@import './calendar-theme.css';

@theme {
  --font-sans: Inter, sans-serif;
  --font-sans--font-feature-settings: 'cv11';
}

/* Tailwind v4 dark mode support */
@supports (color: light-dark(black, white)) {
  :root {
    color-scheme: light;
  }
  
  .dark {
    color-scheme: dark;
  }
}
